%td.empty{ :width => "10%" }
	%td.bg2#survey-form{ :width => "70%", :height => "300px" }	
		%table{ :width => "100%" }
			= form_for @user, :action => "update", :remote => true do |f|
				%tr{:height => "100%"}
					%td.questions{ :width =>"70%", :align => "right" }
						%table.questions_table
							%tr
								%td.question_item
									WHAT IS YOUR FAVOURITE ICECREAM?
								%td.input_item
									= f.text_field :icecream
							%tr
								%td.question_item
									WHO IS YOUR FAVOURITE SUPERHERO?
								%td.input_item
									= f.text_field :superhero
							%tr
								%td.question_item
									WHO IS YOUR FAVOURITE MOVIE STAR?
								%td.input_item
									= f.text_field :moviestar
							%tr
								%td.question_item
									WHEN DO YOU THINK THE WORLD WILL END?
								%td.input_item
									= f.text_field :world_end
							%tr
								%td.question_item
									WHO WILL WIN THE SUPERBOWL THIS YEAR?
								%td.input_item
									= f.text_field :superbowl
					%td.save{ :width =>"25%"}
						%table{ :align => "center", :height => "100%" }
							%tr.empty{ :height => "30px"}
								%tr{ :height => "90%"}
									%td
										%center
											= f.submit "Create", :type => :image, :src => "/assets/save_button_only.png" 
	%td.empty{ :width => "10%" }