%td.empty{ :width => "10%" }
	%td.bg1#survey-form{ :width => "70%", :height => "300px" }	
		%table{ :width => "100%" }
			= form_for @user, :remote => true do |f|
				%tr{:height => "100%"}
					%td.questions{ :width =>"70%"}
						%table.questions_table
							%tr
								%td.profile_question_item#first_name
									FIRST NAME
								%td.input_item
									= f.text_field :first_name
							%tr
								%td.profile_question_item#last_name
									LAST NAME
								%td.input_item
									= f.text_field :last_name
							%tr
								%td.profile_question_item
									EMAIL ADDRESS
								%td.input_item
									= f.text_field :email
							%tr
								%td.profile_question_item
									BIRTHDAY
								%td.input_item
									%span#date
										= f.date_select(:birthday, :start_year => 1940, :order => [:month, :day, :year])
							%tr
								%td.profile_question_item
									SHOE SIZE
								%td.input_item
									= f.text_field :shoesize
					%td.save{ :width =>"40%"}
						%table{ :align => "center", :height => "100%" }
							%tr.empty{ :height => "30px"}
								%tr{ :height => "90%"}
									%td
										%center
											= f.submit "Create", :type => :image, :src => "/assets/save_button_only.png" 
	%td.empty{ :width => "10%" }